= form_for(@member, as: :team_member, url: admin_team_member_path(@team, @member)) do |f|
  - if @member.errors.any?
    .alert.alert-error
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .clearfix
    = label_tag :permission, "Default access for Team projects:"
    .input
      = f.select :permission, options_for_select(UserTeam.access_roles, @team.default_projects_access(@member)), {}, class: "project-access-select chosen span3"
  .clearfix
    = label_tag :group_admin, "Team admin?"
    .input
      = f.check_box :group_admin

  %br
  .actions
    = submit_tag 'Save', class: "btn btn-primary"
    = link_to 'Cancel', :back, class: "btn"
