.panel.panel-default
  .panel-heading.clearfix
    = search_field_tag :filter_member, nil, placeholder: 'Filter by name', class: 'form-control dash-filter'
    - if true #current_user.can_create_member?
      %span.pull-right
        = link_to team_members_path(@team), class: "btn btn-new" do
          %i.icon-plus
            Add member
  %ul.well-list.js-sidebar-list
    - members.each do |member|
      %li.member-row
        = image_tag gravatar_icon(member.email, 16), class: "avatar s16"
        = link_to user_path(member), class: dom_class(member) do
          %strong.filter-title= member.name
          %span.cgray= member.username
        - if member == current_user
          %span.label.label-success It's you

        %span.pull-right
          %strong= @team.human_access_for member

    - if members.blank?
      %li
        .nothing-here-block You have no members yet.
