.ui-box
  .title.clearfix
    = search_field_tag :filter_member, nil, placeholder: 'Filter by name', class: 'form-control js-sidebar-filter'
    - if true #current_user.can_create_member?
      %span.pull-right
        = link_to team_members_path(@team), class: "btn btn-new" do
          %i.icon-plus
            Add member
  %ul.well-list.js-sidebar-list
    - members.each do |member|
      %li.member-row
        = link_to user_path(member), class: dom_class(member) do
          %span.member-name.filter-title
            = truncate(member.name, length: 35)
          %span.pull-right
            %i.icon-angle-right
            %span.owner= @team.human_access_for member
    - if members.blank?
      %li
        %h3.nothing_here_message You have no members yet.
