.panel.panel-default
  .panel-heading.clearfix
    = search_field_tag :filter_projects, nil, placeholder: 'Filter by name', class: 'form-control dash-filter'
    - if current_user.can_create_project?
      %span.pull-right
        = link_to team_projects_path(@team), class: "btn btn-new" do
          %i.icon-plus
          New project
    = render 'shared/projects/sort_pills'

  %ul.well-list.js-sidebar-list
    - projects.each do |project|
      %li.project-row.js-description-tooltip{"data-title" => "#{project.description}"}
        = link_to project_path(project), class: dom_class(project) do
          %small.access-icon
            = visibility_level_icon(project.visibility_level)
          %span.namespace-name
            - if project.namespace
              = project.namespace.human_name
              \/
          %span.project-name.filter-title
            = truncate(project.name, length: 25)
          %span.arrow
            %i.icon-angle-right
          %span.last-activity
            %strong Last activity:
            %span.date= project_last_activity(project)
          %span.last-activity
            %strong Last push:
            %span.date.js-last-push{'data-sort-by-last-push' => project.last_pushed_at}= project_last_push(project)
    - if projects.blank?
      %li
        .nothing-here-block There are no projects here.
    - if @projects.count > 20
      %li.bottom
        %strong= link_to "show all projects", projects_dashboard_path
