%ul.nav.nav-tabs.js-sidebar-tabs
  %li.active
    = link_to '#projects', 'data-toggle' => 'tab', id: 'sidebar-projects-tab' do
      Projects
      %span.badge= @projects.count
  %li
    = link_to '#groups', 'data-toggle' => 'tab', id: 'sidebar-groups-tab' do
      Groups
      %span.badge= @groups.count
  %li
    = link_to '#members', 'data-toggle' => 'tab', id: 'sidebar-members-tab' do
      Members
      %span.badge= @members.count


.tab-content
  .tab-pane.active#projects
    = render "projects", projects: @projects
  .tab-pane#groups
    = render "groups", groups: @groups
  .tab-pane#members
    = render "members", members: @members

%hr
= render 'shared/promo'
