.team-edit-container
  .project-edit-content
    %div
      %h3.title
        Team settings:
      %hr
      .form-holder
        = form_for @team, html: { class: "edit_project form-horizontal" } do |f|
          - if @team.errors.any?
            .alert.alert-error
              %span= @team.errors.full_messages.first
          .form-group
            = f.label :name, class: 'control-label' do
              Team name is
            .col-sm-10
              = f.text_field :name, placeholder: "Example Team", class: "form-control"

          .form-group
            = f.label :description, class: 'control-label' do
              Team description
              %span.light (optional)
            .col-sm-10
              = f.text_area :description, placeholder: "Awesome team", maxlength: 250, class: "form-control js-gfm-input", rows: 3

          .form-group
            = f.label :public, class: 'control-label' do
              Team is public
            .col-sm-10
              = f.check_box :public

          .form-actions
            = f.submit 'Save team', class: "btn btn-save"

  .danger-settings.js-toggle-container
    .centered-light-block
      %h3
        %i.icon-warning-sign
        Dangerous settings
      %p Team settings below may result in data loss!
      = link_to '#', class: 'btn js-toggle-button' do
        Show it to me
        %i.icon-chevron-down

    .js-toggle-content.hide
      - if can?(current_user, :remove_team, @team)
        .ui-box.ui-box-danger
          .title Remove team
          .body
            %p
              Removing the team will delete all related resources.
            %p
              %strong Removed team cannot be restored!

            = link_to 'Remove team', @team, date: { confirm: remove_team_message(@team) }, method: :delete, class: "btn btn-remove"
      - else
        %p.nothing_here_message Only team owner can remove a team
