.team-edit-container
  .project-edit-content
    %div
      %h3.title
        Team settings:
      %hr
      .form-holder
        = form_for @team do |f|
          - if @team.errors.any?
            .alert.alert-error
              %span= @team.errors.full_messages.first
          .control-group
            = f.label :name do
              Team name is
            .controls
              = f.text_field :name, placeholder: "Ex. OpenSource", class: "input-xxlarge left"

          .control-group
            = f.label :public do
              Team is public
            .controls
              = f.check_box :public

          .control-group.group-description-holder
            = f.label :description, "Details"
            .controls
              = f.text_area :description, maxlength: 250, class: "input-xxlarge js-gfm-input", rows: 4

          .form-actions
            = f.submit 'Save team', class: "btn btn-save"

    %center.light.prepend-top-20.padded
      %h3
        %i.icon-warning-sign
        Dangerous settings
      %p Team settings below may result in data loss!
      = link_to '#', class: 'btn js-toggle-visibility-link' do
        Show it to me
        %i.icon-chevron-down

    .js-toggle-visibility-container.hide
      - if can?(current_user, :remove_team, @team)
        .ui-box.ui-box-danger
          .title Remove team
          .ui-box-body
            %p
              Removing the team will delete all related resources.
              %br
              %strong Removed team cannot be restored!

            = link_to 'Remove team', @team, confirm: remove_team_message(@team), method: :delete, class: "btn btn-remove"
      - else
        %p.nothing_here_message Only team owner can remove a team
