.dashboard
  .activities.col-sm-8.hidden-sm
    = render "events/event_last_push", event: @last_push
    = link_to dashboard_path, class: 'btn btn-tiny' do
      &larr; To dashboard
    &nbsp;
    %span.cgray Events and projects are filtered in scope of team projects
    %hr
    = render 'shared/event_filter'
    - if @events.any?
      .content_list
    - else
      %p.nothing_here_message Projects activity will be displayed here
    .loading.hide
  .side.col-sm-4
    %div.description-block
      -#- if can? current_user, :manage_team, @team
        -#.dropdown.pull-right
          -#%a.dropdown-toggle.btn.btn-small{href: '#', "data-toggle" => "dropdown"}
            -#%i.icon-plus-sign-alt
            -#%b.caret
          -#%ul.dropdown-menu
            -#%li
              -#= link_to new_team_member_path(@team), title: "Add new team member" do
                -#%i.icon-plus
                -#New team member
            -#%li
              -#= link_to edit_team_path(@team), title: "Assign project" do
                -#%i.icon-plus
                -#Assign on project

      = render "shared/watch_button", current_entity: @team

      %h3.page_title
        = @team.name
      - unless @team.description.blank?
        %p.light= @team.description

      %hr
      %p
      %p Members count: #{@team.members.count }
      - if @team.projects.any?
        %p Assigned on #{@team.projects.count} projects
      - else
        %p Team not assigned to any projects
      - if @team.groups.any?
        %p Assigned on #{@team.groups.count} groups (access to #{@team.accessed_projects.count} projects)
      - else
        %p Team not assigned to any groups
      %p Created on: #{@team.created_at.stamp('Aug 22, 2013')}
      %p Creator: #{link_to @team.creator_name, @team.creator}
      - if @team.owners.any?
        %p
          Owners:
          - @team.owners.each do |owner|
            %span #{link_to owner.name, user_path(owner.username)}
    %hr

    = render "sidebar"
