%h3.page-title
  = @service.title
  = boolean_to_icon @service.enabled?

%p= @service.description

.back-link
  = link_to project_services_path(@project) do
    &larr; to services

%hr

= form_for(@service, as: :service, url: project_service_path(@project, @service.to_param), method: :put, html: { class: 'form-horizontal' }) do |f|
  - if @service.errors.any?
    .alert.alert-danger
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg

  - if @service.help.present?
    .bs-callout
      = @service.help

  .form-group
    = f.label :state_event, "State", class: "control-label"
    .col-sm-3
      = f.select(:state_event, @service.state_transitions.map {|s| [s.human_event, s.event]}, { include_blank: @service.human_state_name}, { class: 'form-control' })

  - if @service.respond_to?(:configuration)
    - configuration = @service.configuration
    - disable_state = @service.pattern.blank?
    = f.fields_for :configuration, configuration do |config|
      - configuration.fields.each do |field|
        - name = field[:name]
        - type = field[:type]
        - placeholder = field[:placeholder]

        .form-group
          = config.label name, class: "control-label"
          .col-sm-10
            - if type == 'text'
              = config.text_field name, class: "form-control", placeholder: placeholder, disabled: disable_state
            - elsif type == 'textarea'
              = f.text_area name, rows: 5, class: "form-control", placeholder: placeholder, disabled: disable_state
            - elsif type == 'checkbox'
              = config.check_box name, disabled: disable_state

  = f.fields_for :service_key_service_relationships do |sksr|
    = render "service_key_service_relationships", f: sksr

  .form-actions
    = f.submit 'Save', class: 'btn btn-save'
    &nbsp;
    - if @service.valid? && @service.enabled? && @service.can_test?
      = link_to 'Test settings', test_project_service_path(@project.path_with_namespace, @service.to_param), class: 'btn'
