= form_for @user_relation, url: team_members_path(@team), html: { class: 'form-horizontal'} do |f|
  %fieldset
    %legend
      New member(s) for
      %strong #{@team.name}
      team

    %p 1. Choose users you want in the team
    .form-group
      = f.label :user_ids, "People", class: 'control-label'
      .col-sm-10= users_select_tag(:user_ids, multiple: true, class: 'input-large input-clamp')

    %p 2. Set access level for them
    .form-group
      = f.label :team_access, "Access", class: 'control-label'
      .col-sm-10= select_tag :team_access, options_for_select(Team.access_roles, @user_relation.team_access), class: "project-access-select select2 input-large input-clamp"

    .form-actions
      = f.submit 'Add users into team', class: "btn btn-create"
