= render "events/event_last_push", event: @last_push

.event_filter
  = event_filter_link EventFilter.group, 'Group'
  = event_filter_link EventFilter.project, 'Project'
  = event_filter_link EventFilter.user_team, 'Team'
  = event_filter_link EventFilter.code, 'Push events'
  = event_filter_link EventFilter.note, 'Comments'
  = event_filter_link EventFilter.issue, 'Issues'
  = event_filter_link EventFilter.merge_request, 'Merge Requests'
  -#= event_filter_link EventFilter.milestone, 'Milestone'

- if @events.any?
  .content_list
- else
  %p.nothing_here_message Projects activity will be displayed here
.loading.hide
