.panel.panel-default
  .panel-heading.clearfix
    = search_field_tag :filter_group, nil, placeholder: 'Filter by name', class: 'dash-filter form-control'
    - if current_user.can_create_group?
      %span.pull-right
        = link_to new_group_path, class: "btn btn-new" do
          %i.icon-plus
          New group
  %ul.well-list.dash-list
    - favourited_groups.each do |group|
      %li.group-row.js-description-tooltip{"data-title" => "#{group.description}"}
        = render "group", group: group, favourited: true
    - groups.each do |group|
      %li.group-row.js-description-tooltip{"data-title" => "#{group.description}"}
        = render "group", group: group
    - if groups.blank? && favourited_groups.blank?
      %li
        .nothing-here-block You have no groups yet.
