%ul.nav.nav-tabs.dash-sidebar-tabs
  %li.active
    = link_to '#projects', 'data-toggle' => 'tab', id: 'sidebar-projects-tab' do
      Projects
      %span.badge= @projects_count
  %li
    = link_to '#groups', 'data-toggle' => 'tab', id: 'sidebar-groups-tab' do
      Groups
      %span.badge= @groups_count
  %li
    = link_to '#teams', 'data-toggle' => 'tab', id: 'sidebar-teams-tab' do
      Teams
      %span.badge= @teams_count


.tab-content
  .tab-pane.active#projects
    = render "projects", favourited_projects: @favourited_projects, projects: @projects, authorized_projects: @authorized_projects
  .tab-pane#groups
    = render "groups", favourited_groups: @favourited_groups, groups: @groups
  .tab-pane#teams
    = render "teams", favourited_teams: @favourited_teams, teams: @teams


.prepend-top-20
  %span.rss-icon
    = link_to dashboard_path(:atom, { private_token: current_user.private_token }) do
      %strong
        %i.icon-rss
        News Feed

%hr
= render 'shared/promo'
