.panel.panel-default
  .panel-heading.clearfix
    = search_field_tag :filter_team, nil, placeholder: 'Filter by name', class: 'dash-filter form-control'
    - if current_user.can_create_team?
      %span.pull-right
        = link_to new_team_path, class: "btn btn-new" do
          %i.icon-plus
          New team
  %ul.well-list.dash-list
    - favourited_teams.each do |team|
      %li.group-row.js-description-tooltip{"data-title" => "#{team.description}"}
        = render "team", team: team, favourited: true
    - teams.each do |team|
      %li.group-row.js-description-tooltip{"data-title" => "#{team.description}"}
        = render "team", team: team
    - if teams.blank? && favourited_teams.blank?
      %li
        .nothing-here-block You have no teams yet.
