- user = member.user
- return unless user
%li{class: "#{dom_class(user)} js-toggle-container", id: dom_id(user)}
  = image_tag gravatar_icon(user.email, 16), class: "avatar s16"
  %strong= user.name
  %span.cgray= user.username
  - if user == current_user
    %span.label.label-success It's you

  %span.pull-right
    %strong= member.human_access

    - if show_controls && user != @group.owner && user != current_user
      = link_to '#', class: "btn-tiny btn js-toggle-button", title: 'Edit access level' do
        %i.icon-edit
      = link_to group_member_path(@group, user.username), data: { confirm: remove_user_from_group_message(@group, user) }, method: :delete, class: "btn-tiny btn btn-remove", title: 'Remove user from group' do
        %i.icon-minus.icon-white

  .edit-member.hide.js-toggle-content
    = form_for :group_member, url: group_member_path(@group.path, user.username), method: :put do |f|
      .form-group.prepend-top-10
        .col-sm-6
          = f.select :group_access, options_for_select(UsersGroup.group_access_roles, member.group_access), {}, class: "medium project-access-select form-control"
        = f.submit 'Save', class: 'btn btn-save'
