%h3.page-title
  - if @service.active?
    %span.cgreen
      %i.icon-circle
  - else
    %span.cgray
      %i.icon-circle-blank
  Edit
  = @service.title
  service

%p= @service.description

.back-link
  = link_to admin_services_path do
    &larr; to services

%hr
.panel.panel-default
  .panel-heading
    Service attributes
  .panel-body
    = form_for(@service, as: :service, url: admin_service_path(@service.id), method: :put, html: { class: "edit_project form-horizontal" }) do |f|
      = render "form", f: f
