= render "service_head"

.col-md-6
  .panel.panel-default
    .panel-heading
      Service info:
    %ul.well-list
      %li
        %span.light Global state
        %strong= @service.human_active_state_name

      %li
        %span.light Published state
        %strong= @service.human_public_state_name

      %li
        %span.light Keys
        %br
        - @service.service_key_service_relationships.each do |key_relation|
          - key = key_relation.service_key
          %strong
            = key.title
            = "(#{key_relation.human_code_access_state_name})"
          %br

      - if @service.respond_to?(:configuration)
        - configuration = @service.configuration
        %li
          %span.light Default configuration
          %div
            - configuration.fields.each do |field|
              %strong= field[:name]
              %span= configuration.send(field[:name])
              %br

.col-md-6
  .panel.panel-default
    .panel-heading
      Projects:
    %ul.well-list
      - @projects.each do |project|
        %li
          .pull-right
            = link_to project_services_path(project) do
              .btn.btn-small
                %i.icon-edit
          = link_to project.name_with_namespace, admin_project_path(project)
