= raw "Permissions for user #{ link_to @member.name, user_url(@member.username) } in project #{ link_to @project.path_with_namespace, project_url(@project.path_with_namespace) } was updated from #{ @previous_permission } to #{ @current_permission } by #{ link_to @user.name, user_url(@user.username)} [updated]"
