.pull-right
  .dropdown.inline
    %a.dropdown-toggle.btn.btn-small{href: '#', "data-toggle" => "dropdown"}
      %span.light sort:
      - if params[:order].present?
        = params[:order].humanize
      - else
        Best match
      %b.caret
    %ul.dropdown-menu
      %li
        = link_to search_filter_path(params[:search], type: :commit, order: :best_match) do
          Best match
        = link_to search_filter_path(params[:search], type: :commit, order: :recently_indexed) do
          Recently indexed
        = link_to search_filter_path(params[:search], type: :commit, order: :last_indexed) do
          Least recently indexed

%h4
  #{@search_results[:repositories][:commits].total_count} results found
%hr
.search_results
  %ul.bordered-list
    = render partial: "search/results/commit", collection: @search_results[:repositories][:commits]
  = paginate @search_results[:repositories][:commits], theme: 'gitlab'
