%ul.nav.nav-pills.nav-stacked
  - if @search_results[:projects].any?
    - if @search_results[:projects].total_count > 0
      %li{class: "#{'active' if params[:type].blank? || params[:type] == "project"}"}
        = link_to search_path(search: params[:search]) do
          Projects
          %small.pull-right= @search_results[:projects].total_count

  - if @search_results[:groups].any?
    - if @search_results[:groups].total_count > 0
      %li{class: "#{'active' if params[:type] == "group"}"}
        = link_to search_path(type: "group", search: params[:search]) do
          Groups
          %small.pull-right= @search_results[:groups].total_count

  - if @search_results[:teams].any?
    - if @search_results[:teams].total_count > 0
      %li{class: "#{'active' if params[:type] == "team"}"}
        = link_to search_path(type: "team", search: params[:search]) do
          Teams
          %small.pull-right= @search_results[:teams].total_count

  - if @search_results[:merge_requests].any?
    - if @search_results[:merge_requests].total_count > 0
      %li{class: "#{'active' if params[:type] == "merge_request"}"}
        = link_to search_path(type: "merge_request", search: params[:search]) do
          Merge Requests
          %small.pull-right= @search_results[:merge_requests].total_count

  - if @search_results[:issues].any?
    - if @search_results[:issues].total_count > 0
      %li{class: "#{'active' if params[:type] == "issue"}"}
        = link_to search_path(type: 'issue', search: params[:search]) do
          Issues
          %small.pull-right= @search_results[:issues].total_count

  - if @search_results[:repositories].any?
    - if @search_results[:repositories][:blobs][:results].total_count > 0
      %li{class: "#{'active' if params[:type] == "code"}"}
        = link_to search_path(type: "code", search: params[:search]) do
          Code
          %small.pull-right= @search_results[:repositories][:blobs][:results].total_count

    - if @search_results[:repositories][:commits].total_count > 0
      %li{class: "#{'active' if params[:type] == "commits"}"}
        = link_to search_path(type: "commits", search: params[:search]) do
          Commits
          %small.pull-right= @search_results[:repositories][:commits].total_count

  - if @search_results[:users].any?
    - if @search_results[:users].total_count > 0
      %li{class: "#{'active' if params[:type] == "user"}"}
        = link_to search_path(type: "user", search: params[:search]) do
          Users
          %small.pull-right= @search_results[:users].total_count

  %hr

- if @search_results[:repositories].any?
  - if @search_results[:repositories][:blobs][:results].total_count > 0 && params[:type] == "code"
    %h4 Languages
    %ul.nav.nav-pills.nav-stacked
      %li{class: "#{'active' if params[:language] == "All" || params[:language].blank?}"}
        = link_to search_path(language: "All", search: params[:search], type: :code) do
          All
      - @search_results[:repositories][:blobs][:languages].each do |language|
        %li{class: "#{'active' if params[:language] == language["term"]}"}
          = link_to search_path(language: language["term"], search: params[:search], type: :code) do
            = language["term"]
            %small.pull-right= language["count"]
