- color = commit_counter.odd? ? '#efefef' : '#f7f7f7'
%tr{style: "margin: 1px; background: #{color}"}
  %td
    = link_to commit.short_id(8), project_commit_url(@project, commit)
  %td{title: commit.title}
    = truncate(commit.title, length: 70)
  %td
    = commit.committed_date.strftime("%Y-%d-%m %H:%M:%S")
  %td
    = commit_author_link(commit, avatar: false, type: :url, size: 24)
