= render "hello", user: @user
= "#{ link_to @user.name, user_url(@user.username)} add project hook to #{ @project.name_with_namespace, project_url(@project.name_with_namespace)} project"
= render "footer", user: @user
