= render "hello", user: @user
= "#{ link_to @user.name, user_url(@user.username)} commented issue #{ link_to @issue.title, project_issue_url(@issue.project.name_with_namespace, @issue.id) } in #{ link_to @issue.project.name_with_namespace, project_url(@issue.project.name_with_namespace) } project some message:"
%br
= "#{ @note.note}"
= render "footer", user: @user
