= render "hello", user: @user
= "#{ link_to @user.name, user_url(@user.username)} write on #{ link_to @note.noteable.name_with_namespace, project_url(@note.noteable.name_with_namespace) } project wall some message:"
%br
= "#{ @note.note}"
= render "footer", user: @user
