%p
  Team
  = link_to @team.name, team_url(@team.path)
  was assigned to
  = link_to @group.name, group_url(@group.path)
  group by
  = link_to @user.name, user_url(@user.username)
%br
%br
%p
  After it action this team was assign on projects:
%table
  %tr
    %th Project name
    %th Project description
    %th Default permission role
  - @group.projects.each do |project|
    %tr
      %td= link_to "#{project.name_with_namespace} (#{project.path_with_namespace})", project_url(project.path_with_namespace)
      %td= project.description
      %td= @team.human_max_project_access(project)
%br
%br
%p
  After it action all team members was added into projects members list:
%table
  %tr
    %th User
    %th Project (permission)
  - @team.members.each do |member|
    %tr
      %td= link_to member.name, user_url(member.username)
      %td
        - @group.projects.each do |project|
          = project.path_with_namespace
          (
          = project.project_access_human(member)
          )
          %br
