= render "hello", user: @user
= "#{ link_to @user.name, @user.usename } created #{ @protected_branch.name } branch as protected in #{ link_to @project.name_with_namespace, project_url(@project.name_with_namespace) } project."
= render "footer", user: @user
