= render "hello", user: @user
= "#{ link_to @user.name, @user.username } assigned #{ link_to @project.name_with_namespace, project_url(@project.name_with_namespace) } project to #{ link_to @team.name, team_url(@team.path) } team with #{ @user_team_project_relationship.greatest_access } permission for team members."
%table
  %caption Project team members
  %tr
    %th Name
    %td Project access
    %td Repo access
  - @project.users_projects.each do |pm|
    %tr
      %td= link_to pm.name, user_url(pm.username)
      %td= pm.project_access_human
      %td= pm.repo_access_human
%br
= render "footer", user: @user
