= render "hello", user: @user
= "#{ link_to @user.name, @user.username } created new #{ link_to @snippet.title, project_snippet_url(@project.name_with_namespace, @snippet) } snippet in #{ link_to @project.name_with_namespace, project_url(@project.name_with_namespace)} project."
= render "footer", user: @user
