= render "hello", user: @user
= "#{ link_to @user.name, user_url(@user.username)} created new project:"
%table
  %tr
    %td Name
    %td= @project.name
  %tr
    %td Description
    %td= @project.description
  %tr
    %td Page
    %td= link_to @project.name_with_namespace, group_url(@project.name_with_namespace)
  - if @project.issues_enabled?
    %tr
      %td Issue tracker
      %td= @project.issues_tracker
    - if @project.issues_tracker_id?
      %tr
        %td Issue tracker external id
        %td= @project.issues_tracker_id
  - else
    %tr
      %td Issue status
      %td Disabled
  %tr
    %td Wall status
    %td= @project.wall_enabled? ? "Enabled" : "Disabled"
  %tr
    %td Merge request status
    %td= @project.merge_requests_enabled? ? "Enabled" : "Disabled"
%br
= render "footer", user: @user
