= render "hello", user: @user
= raw "User #{link_to @user.name, user_url(@user.username)} created new tag #{@tag} in #{link_to @project.path_with_namespace, project_url(@project.path_with_namespace)} project."
= render "footer", user: @user
