= raw "#{ link_to @user.name, user_url(@user.username)} deleted project from group #{@group.name}:"
%br
%table
  %tr
    %td Name
    %td= @project["name"]
  %tr
    %td Description
    %td= @project["description"]
