= raw "#{ link_to @user.name, @user.username } import members to #{ link_to @project.path_with_namespace, project_url(@project.path_with_namespace) } project team from another project"
%br
%table
  %caption Project team members now
  %tr
    %th Name
    %td Project access
    %td Repo access
  - @project.users_projects.each do |pm|
    %tr
      %td= link_to pm.name, user_url(pm.username)
      %td= pm.project_access_human
      %td= pm.repo_access_human
%br
