= render "hello", user: @user
= raw "#{ link_to @member.name, user_url(@member.username) } was added to #{ link_to @project.name_with_namespace project_url(@project.name_with_namespace) } project team with #{ @users_project.project_access } permision by #{ link_to @user.name, user_url(@user.username) }."
= render "footer", user: @user
