= render "hello", user: @user
= raw "#{ link_to @mmber.name, user_url(@member.username) } was added to #{ link_to @team.name, team_url(@team.path) } with #{ @utur.permission } default access in assigned projects."
= render "footer", user: @user
