%table{cellspacing: '1px', cellpadding: '3px', style: "color: #333; font-size:0.8em"}
  %tr{style: 'margin: 1px; background: #efefef;'}
    %th{align: :left}
      Pushed by
    %td
      = link_to @event.author.name, user_url(@event.author.username)
  %tr{style: 'margin: 1px; background: #efefef;'}
    %th{align: :left}
      Date
    %td
      = @event.created_at
  %tr{style: 'margin: 1px; background: #efefef;'}
    %th{align: :left}
      Project
    %td= link_to @project.path_with_namespace, project_url(@project.path_with_namespace)
  %tr{style: 'margin: 1px; background: #efefef;'}
    %th{align: :left}
      Branch
    %td
      = @branch
  - if @before_commit
    %tr{style: 'margin: 1px; background: #efefef;'}
      %th{align: :left}
        Commit before push
      %td{title: @before_commit.title}
        = link_to @before_commit.short_id(10), project_commit_url(@project, @before_commit)
        %br
        = @before_commit.message
    %tr{style: 'margin: 1px; background: #efefef;'}
      %th{align: :left, colspan:2}
        = link_to 'Compare it', project_compare_url(@event.target, from: @before_commit, to: @commits.last)

- if @commits.present?
  %br

  %table{cellspacing: '1px', cellpadding: '3px', style: "color: #444; font-size:0.8em"}
    %tr{style: 'background: #efefef;'}
      %th{colspan: 4}
        Commits in push(#{@commits.count})
    %tr{style: 'margin: 1px; background: #efefef;'}
      %th{ width: '78px' }
        Sha
      %th
        Message
      %th{ width: '118px' }
        Date
        = "(#{@commits.first.committed_date.strftime("%Z")})"
      %th
        Author
    = render partial: "event_notification_mailer/commit", collection: @commits

  - unless @diffs.empty?
    %h4 Diff
    = render "event_notification_mailer/diffs", diffs: @diffs

