%table{style: "background: #eee; color: #444"}
  %tr
    %th
      Pushed by
    %td
      = link_to @event.author.name, user_url(@event.author.name)
  %tr
    %th
      Date
    %td
      = @event.created_at
  %tr
    %th
      Project
    %td= link_to @project.path_with_namespace, project_url(@project.path_with_namespace)
  %tr
    %th
      Branch
    %td
      = @branch
  - if @before_commit
    %tr
      %th
        Commit before push
      %td
        = render "event_notification_mailer/commit_short", commit: @before_commit
    %tr
      %th
        = link_to 'Compare it', project_compare_url(@event.target, @before_commit, @commits.first)

- if @commits.present?
  %br

  %table{style: "background: #eee; color: #444; width:100%"}
    %tr
      %th{colspan: 4}
        %h4
          Commits in push(#{@commits.count})
    %tr
      %th{ width: '12%' }
        Sha
      %th
        Message
      %th{ width: '179px' }
        Date
        = "(#{@commits.first.committed_date.strftime("%Z")})"
      %th{ width: '12%' }
        Author
    = render partial: "event_notification_mailer/commit", collection: @commits

  - unless @diffs.empty?
    %h4 Diff
    = render "event_notification_mailer/diffs", diffs: @diffs

