= render "hello", user: @user
= raw "#{ link_to @group.name, group_url(@group.path) } was updated by #{ link_to @user.name, user_url(@user.username) }:"
%br
%table
  %tr
    %th Attribute
    %th New value
    %th Old value
  - @changes.each do |key, values|
    %tr
      %td= key
      %td= values.last
      %td= values.first
%br
= render "footer", user: @user
