Membership of user
= link_to @updated_user.name, user_url(@updated_user.username)
was changed by
= link_to @user.name, user_url(@user.username)
\:
%br
- if @changed.present?
  %br
  %table
    %tr
      %th Attribute
      %th New value
      %th Old value
    - @changes.each do |key, values|
      %tr
        %td= key
        %td= values.last
        %td= values.first
  %br
