= render "hello", user: @user
= "Project #{ link_to @project.name_with_namespace, project_url(@project.name_with_namespace) } was updated by #{ link_to @user.name, user_url(@user.username)}"
= render "footer", user: @user
