%h3.page_title
  GITLAB
  .right
    %span= Gitlab::Version
    %small= Gitlab::Revision
%hr
%p.lead
  Self Hosted Git Management
  %br
  Fast, secure and stable solution based on Ruby on Rails & Gitolite.

%hr

%h3 Help

%ol
  %li
    %h5= link_to "Workflow", workflow_help_path

  %li
    %h5= link_to "Permissions", permissions_help_path

  %li
    %h5= link_to "Web Hooks", web_hooks_help_path

  %li
    %h5= link_to "System Hooks", system_hooks_help_path

  %li
    %h5= link_to "API", api_help_path

  %li
    %h5= link_to "GitLab Markdown", markdown_help_path

  %li
    %h5= link_to "SSH keys", ssh_help_path
