.event-title
  %span.author_name= link_to_event_author event
  %span.event_label{class: event.action}= event_action_name(event)
  - merge_request = event.source
  - project = merge_request.project
  - assigned_user = merge_request.assignee
  - if project
    %strong= link_to truncate(merge_request.title), project_merge_request_path(project.path_with_namespace, merge_request)
  - else
    %strong= gfm truncate(event.data["title"])
  to
  - if assigned_user
    %strong= link_to truncate(assigned_user.name), user_path(assigned_user)
  - else
    %strong= gfm truncate(event.data["title"])
  in
  - if project
    = link_to project.name_with_namespace, project_path(project.path_with_namespace)
  - else
    = "Deleted"
  project
