%ul
  = nav_link(path: 'dashboard#show', html_options: {class: 'home'}) do
    = link_to root_path, title: "Home" do
      %i.icon-home
  = nav_link(path: 'dashboard#projects') do
    = link_to projects_dashboard_path do
      Projects
  = nav_link(path: 'dashboard#groups') do
    = link_to groups_dashboard_path do
      Groups
  = nav_link(path: 'dashboard#teams') do
    = link_to teams_dashboard_path do
      Teams
  = nav_link(path: 'dashboard#issues') do
    - if Project.issues_tracker.default_value.to_sym == :gitlab
      = link_to issues_dashboard_path do
        Issues
        %span.count= current_user.assigned_issues.opened.count
    - else
      = link_to Gitlab.config.issues_tracker[Project.issues_tracker.default_value]["all_issues_url"] do
        Issues
  = nav_link(path: 'dashboard#merge_requests') do
    = link_to merge_requests_dashboard_path do
      Merge Requests
      %span.count= current_user.assigned_merge_requests.opened.count
  = nav_link(controller: :help) do
    = link_to "Help", help_path

