%ul
  = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
    = link_to profile_path, title: "Profile" do
      %i.icon-home
  = nav_link(controller: :accounts) do
    = link_to "Account", profile_account_path
  = nav_link(controller: :emails) do
    = link_to profile_emails_path do
      Emails
      %span.count= current_user.emails.count + 1
  - unless current_user.ldap_user?
    = nav_link(controller: :passwords) do
      = link_to "Password", edit_profile_password_path
  = nav_link(controller: :keys) do
    = link_to profile_keys_path do
      SSH Keys
      %span.count= current_user.keys.count
  = nav_link(controller: [:subscriptions, :profiles], action: :index) do
    = link_to "Subscriptions", profile_subscriptions_path
  = nav_link(controller: [:favourites]) do
    = link_to "Favourites", profile_favourites_path
  = nav_link(controller: [:summaries]) do
    = link_to "Digests", profile_summaries_path
  = nav_link(controller: [:tokens, :profiles], action: :index) do
    = link_to "Public links", profile_tokens_path
  = nav_link(path: 'profiles#design') do
    = link_to "Design", design_profile_path
  = nav_link(controller: :groups) do
    = link_to "Groups", profile_groups_path
  = nav_link(path: 'profiles#history') do
    = link_to "History", history_profile_path

