= form_for @group_relation, url: team_groups_path(@team), html: { class: 'form-horizontal'} do |f|
  %fieldset
    %legend
      Assign
      %strong #{@team.name}
      team to Groups of projects

    %p 1. Choose groups you want assigned to the team
    .form-group
      = f.label :group_ids, "Groups", class: 'control-label'
      .col-sm-10= groups_select_tag(:group_ids, multiple: true, class: 'input-large input-clamp')

    .form-actions
      = f.submit 'Assign team on selected groups', class: "btn btn-create"
