.panel.panel-default
  .panel-heading.clearfix
    = search_field_tag :filter_member, nil, placeholder: 'Filter by name', class: 'form-control dash-filter'
    - if can? current_user, :manage_group, @group
      %span.pull-right
        = link_to group_members_path(@group), class: "btn btn-new" do
          %i.icon-plus
            Add member
  %ul.well-list.js-sidebar-list
    - owners.each do |member|
      %li.member-row
        = render "member", member: member, member_role: "Owner"

    - masters.each do |member|
      %li.member-row
        = render "member", member: member, member_role: "Master"

    - developers.each do |member|
      %li.member-row
        = render "member", member: member, member_role: "Developer"

    - reporters.each do |member|
      %li.member-row
        = render "member", member: member, member_role: "Reporter"

    - guests.each do |member|
      %li.member-row
        = render "member", member: member, member_role: "Guest"

    - if [owners, masters, developers, reporters, guests].inject(true) { |res, source| res && source.blank? }
      %li
        .nothing-here-block There are no members here.
