.panel.panel-default
  .panel-heading.clearfix
    = search_field_tag :filter_project, nil, placeholder: 'Filter by name', class: 'form-control dash-filter'
    - if can? current_user, :create_projects, @group
      %span.pull-right
        = link_to new_project_path(namespace_id: @group.id), class: "btn btn-new" do
          %i.icon-plus
          New project
    = render 'shared/projects/sort_pills'

  %ul.well-list.js-sidebar-list
    - if projects.blank?
      .nothing-here-block This group has no projects yet

    - projects.each do |project|
      %li.project-row.js-description-tooltip{"data-title" => "#{project.description}"}
        = link_to project_path(project), class: dom_class(project) do
          .dash-project-access-icon
            = visibility_level_icon(project.visibility_level)
          %span.str-truncated
            %span.project-name
              = project.name
          %span.arrow
            %i.icon-angle-right
          %span.last-activity
            %strong Last activity:
            %span.date= project_last_activity(project)
          %span.last-activity
            %strong Last push:
            %span.date.js-last-push{'data-sort-by-last-push' => project.last_pushed_at}= project_last_push(project)
