.project-edit-container
  .project-edit-errors
  .project-edit-content
    %div
      %h3.page-title
        Group settings:
      %p.light Some settings, such as "Transfer Group", are hidden inside the danger area below
      %hr
      .form-holder
        = form_for @group do |f|
          - if @group.errors.any?
            .alert.alert-error
              %span= @group.errors.full_messages.first
          .control-group
            = f.label :name do
              Group name is
            .controls
              = f.text_field :name, placeholder: "Ex. OpenSource", class: "input-xxlarge left"

          .control-group.group-description-holder
            = f.label :description, "Details"
            .controls
              = f.text_area :description, maxlength: 250, class: "input-xxlarge js-gfm-input", rows: 4

          .form-actions
            = f.submit 'Save group', class: "btn btn-save"

    %center.light.prepend-top-20.padded
      %h3
        %i.icon-warning-sign
        Dangerous settings
      %p Group settings below may result in data loss!
      = link_to '#', class: 'btn js-toggle-visibility-link' do
        Show it to me
        %i.icon-chevron-down

    .js-toggle-visibility-container.hide
      - if can?(current_user, :manage_namespace, @group)
        .ui-box.ui-box-danger
          .title Transfer group
          .ui-box-body
            %p
              Transferring group will cause loss of admin control over group and all child projects
            = form_for @group do |f|
              = users_select_tag(:'group[owner_id]')
              %hr
              = f.submit 'Transfer group', class: "btn btn-small btn-remove"

        .ui-box.ui-box-danger
          .title Remove group
          .ui-box-body
            %p
              Remove of group will cause removing all child projects and resources.
            %p
              %strong Removed group can not be restored!

            = link_to 'Remove Group', @group, confirm: 'Removed group can not be restored! Are you sure?', method: :delete, class: "btn btn-remove"

      - else
        %p.nothing_here_message Only the group owner can transfer or remove group

.save-project-loader.hide
  %center
    = image_tag "ajax_loader.gif"
    %h3 Saving group.
    %p Please wait a moment, this page will automatically refresh when ready.
