%table{width: "100%", cellspacing: '1px', cellpadding: '3px', style: "color: #444; width: 100%;font-size:0.8em"}
  %tr{style: 'background: #efefef;'}
    %th{colspan: 5}
      Commits in push (#{@commits.count})
  %tr{style: 'margin: 1px; background: #efefef;'}
    %th{ width: '78px' }
      Sha
    %th{ width: '78px' }
      Branches
    %th
      Message
    %th{ width: '118px' }
      Date
      = "(#{@commits.first.committed_date.strftime("%Z")})"
    %th
      Author
  = render partial: "emails/project/push/commit", collection: @commits

- unless @diffs.blank?
  %h4 Diff
  = render "emails/project/push/diffs", diffs: @diffs

