= raw "#{ link_to @user.name, user_url(@user.username) } assigned #{@teams.count} teams to #{ link_to @project.path_with_namespace, project_url(@project.path_with_namespace) } project team:"
%br
%table
  %caption Assigned teams
  %tr
    %th Name
  - @teams.each do |t|
    %tr
      %td
        = link_to team_url(t.path) do
          = "#{ t.name } (#{t.path})"
%br
