-#- if event.proper?
%div.event-item
  %span.cgray.pull-right
    #{time_ago_in_words(event.created_at)} ago.

  = cache event do
    - if event.author
      = image_tag gravatar_icon(event.author.email), class: "avatar s24"
    - else
      = image_tag gravatar_icon, class: "avatar s24"
    = render "events/event/#{event.target_type.underscore}/#{event.action}_#{event.source_type.underscore}", event: event
    -#- if event.push?
      = render "events/event/push", event: event
      .clearfix
    -#- elsif event.note?
      = render "events/event/note", event: event
    -#- else
    -#= render "events/event/common", event: event
