.event-item{class: "#{event.body? ? "event-block" : "event-inline" }", rel: event.id}
  %span.cgray.pull-right
    #{time_ago_with_tooltip(event.created_at)}

  - if lookup_context.exists?("events/event/_#{event.action}")
    = render "events/event/#{event.action}", event: event
  - else
    = event.action
