- if lookup_context.exists?("events/event/_#{event.action}")
  .event-item{class: "#{event.body? ? "event-block" : "event-inline" }", rel: event.id}
    .event-item-timestamp
      #{time_ago_with_tooltip(event.created_at)}

    = render "events/event/#{event.action}", event: event
- else
  - logger.info("No template for #{event.action}")

