= raw "Permissions for user #{ link_to @member.name, user_url(@member.username) } in group #{ link_to @group.path, group_url(@group.path) } was updated from #{ @previous_permission } to #{ @current_permission } by #{ link_to @user.name, user_url(@user.username)}"
