= form_for @team_project_relation, url: project_teams_path(@project), html: { class: 'form-horizontal users-group-form' } do |f|
  %fieldset
    %legend
      Assign teams on
      %strong #{@project.name}
      project

    %p 1. Choose teams you want assigned to the project
    .form-group
      = f.label :team_ids, "Teams", class: 'control-label'
      .col-sm-10= teams_select_tag(:team_ids, multiple: true, class: 'input-large')

    .form-actions
      = f.submit 'Assign project on selected teams', class: "btn btn-create"
