%li
  - if team.public
    = public_icon
  - else
    = private_icon
  = link_to team.name, team
  .pull-right
    - if current_user.can?(:manage_team, team)
      = link_to 'Members', team_members_path(team), id: "edit_#{dom_id(team)}", class: "btn btn-small"
    = link_to 'Remove', project_team_path(@project.path_with_namespace, team.path), confirm: remove_project_from_team_message(team, @project), method: :delete, class: "btn btn-small btn-remove"
