%table{style: "width:100%;font-size:0.8em;"}
  %tr
    %th{colspan: 5}
      Commits in push (#{@commits.count})
  %tr
    %th{ style: "width:78px" }
      Sha
    %th{ style: "width:220px" }
      Branches
    %th
      Message
    %th{ style: "width:118px" }
      Date
      = "(#{@commits.first.committer[:time].strftime('%Z')})"
    %th
      Author
  = render partial: "event_summary_mailer/project/push/commit", collection: @commits

%h4 Diff
- unless @diffs.blank?
  = render "event_summary_mailer/project/push/diffs", diffs: @diffs
- else
  Diff is empty
