.login-box
  %h3.page-title Sign in
  - if ldap_enabled? && gitlab_config.signin_enabled
    %ul.nav.nav-tabs
      %li.active
        = link_to 'LDAP', '#tab-ldap', 'data-toggle' => 'tab'
      %li
        = link_to 'Standard', '#tab-signin', 'data-toggle' => 'tab'
    .tab-content
      %div#tab-ldap.tab-pane.active
        = render partial: 'devise/sessions/new_ldap'
      %div#tab-signin.tab-pane
        = render partial: 'devise/sessions/new_base'

  - else
    #temp_info
      %center
        Вопросы и предложения можно оставить в чатике
        = link_to "“INFR || Gitlab || багрепортинг”", "skype:?chat&blob=l5lSuvYSiiUL4031uYVHplQ6t20qzQ7uW2XMDLjVZGVGoQFQaD7GDgyiBDRZ6AQMmmTyBikUENGLfP6H5K3rsKzdug3odtgoFQI"
    %br
    - if ldap_enabled?
      = render partial: 'devise/sessions/new_ldap'

    - elsif gitlab_config.signin_enabled
      = render partial: 'devise/sessions/new_base'

    - else
      %div
        No authentication methods configured.

  = render 'devise/sessions/oauth_providers' if Gitlab.config.omniauth.enabled && devise_mapping.omniauthable?
  %hr

  - if gitlab_config.signup_enabled
    %p
      %span.light
        Don't have an account?
      %strong
        = link_to "Sign up", new_registration_path(resource_name)

  %p
    %span.light Did not receive confirmation email?
    = link_to "Send again", new_confirmation_path(resource_name)


  - if extra_config.has_key?('sign_in_text')
    %hr
    = markdown(extra_config.sign_in_text)
