- @teams.each do |team|
  .panel.panel-default
    .panel-heading
      %strong= link_to team.name, team_url(team)
      team members (#{team.team_user_relationships.count})
      .pull-right
        - if can? current_user, :manage_team, team
          = link_to team_members_path(team), class: 'btn btn-small' do
            %i.icon-edit
        - else
          %div.has_tooltip{'data-original-title' => 'Access forbidden'}
            = link_to '#', class: 'btn btn-small disabled' do
              %i.icon-edit
    %ul.well-list
      - team.team_user_relationships.order('team_access DESC').each do |member|
        = render 'teams/members/member', team: team, member: member, show_controls: false
