%li
  = link_to team.name, team
  .pull-right
    = link_to 'Members', team_members_path(team), id: "edit_#{dom_id(team)}", class: "btn btn-small"
    = link_to 'Remove', group_team_path(@group, team), confirm: remove_group_from_team_message(team, @group), method: :delete, class: "btn btn-small btn-remove"

.ui-box
  .title
    %strong= @group.name
    projects:
    - if can? current_user, :manage_group, @group
      %span.pull-right
        = link_to new_project_path(namespace_id: @group.id), class: "btn btn-tiny" do
          %i.icon-plus
          New Project
  %ul.well-list
    - @group.projects.each do |project|
      %li
        = visibility_level_icon(project.visibility_level)
        = link_to project.name_with_namespace, project
        .pull-right
          = link_to 'Members', project_team_index_path(project), id: "edit_#{dom_id(project)}", class: "btn btn-small"
          = link_to 'Edit', edit_project_path(project), id: "edit_#{dom_id(project)}", class: "btn btn-small"
          = link_to 'Remove', project, data: { confirm: remove_project_message(project)}, method: :delete, class: "btn btn-small btn-remove"
    - if @group.projects.blank?
      %p.nothing_here_message This group has no projects yet
