%h3.page-title
  Group projects
%p.light
  members access to group.
%hr
- manage_group =  current_user.can? :manage_group, @group
.panel.panel-default.span9
  .panel-heading.clearfix
    %strong= @group.name
    projects:
    - if can? current_user, :manage_group, @group
      %span.pull-right
        = link_to new_project_path(namespace_id: @group.id), class: "btn btn-tiny" do
          %i.icon-plus
          New Project
  %ul.well-list
    - @group.projects.each do |project|
      %li
        .list-item-name
          = visibility_level_icon(project.visibility_level)
          = link_to project.name_with_namespace, project
        .pull-right
          = link_to 'Members', project_team_index_path(project), id: "edit_#{dom_id(project)}", class: "btn btn-small"
          = link_to 'Edit', edit_project_path(project), id: "edit_#{dom_id(project)}", class: "btn btn-small"
          = link_to 'Remove', project, confirm: remove_project_message(project), method: :delete, class: "btn btn-small btn-remove"
    - if @group.projects.blank?
      .nothing-here-block This group has no projects yet
