= link_to user_url(@user.username) do
  = "#{ @user.name } (#{ @user.username })"
created new group of projects:
%br
%table
  %tr
    %td Name
    %td= @group.name
  %tr
    %td Description
    %td= @group.description
  %tr
    %td Page
    %td= link_to @group.name, group_url(@group.path)
%br
