- project = event.target
- push = event.source
.event-title
  %span.author_name= link_to_event_author event
  %span.event_label.pushed
    #{event_action_name(event)}
    = link_to project_commits_path(project, push.ref_name) do
      %strong= push.ref_name
  at
  %strong= link_to_project project

.event-body
  %ul.well-list.event_commits
    - few_commits = push.commits[0...2]
    - few_commits.each do |commit|
      = render "events/commit", commit: commit, project: project

    - if push.commits_count > 1
      %li.commits-stat
        - if push.commits_count > 2
          %span ... and #{push.commits_count - 2} more commits.
        = link_to project_compare_path(project, from: push.before, to: push.after) do
          %strong Compare &rarr; #{push.before[0..7]}...#{push.after[0..7]}
