%p
  Привет, пользователь гиториуса!
%br
%p
  Мы переезжаем с гиториуса на гитлаб
  %b 27 апреля в субботу.
  В связи с этим гит будет недоступен в течение 6 часов
  %b с 11:00 по 17:00.
  После переезда гитлаб будет доступен по тому же адресу, где сейчас gitorious:
  = link_to "http://git.undev.cc/", "http://git.undev.cc/"
  \. Данные пользователей, включая ssh ключи, репки, настройки будут перенесены с гиториуса. После переезда нужно будет установить пароль. Ссылка на установку пароля придет на почту.
%br
%p
  Гитлаб — это веб морда для гита. Можно почитать: 
  %ul
    %li
      на оф. сайт гитлаба (
      = link_to "http://gitlab.org/", "http://gitlab.org/"
      );
    %li
      FAQ по гитлабу в нашей вики (
      = link_to "http://wiki.undev.cc/GitLab_FAQ", "http://wiki.undev.cc/GitLab_FAQ"
      );
    %li
      посмотреть на стейджинге гитлаба (
      = link_to "http://gitlab-staging-01.undev.cc/", "http://gitlab-staging-01.undev.cc/"
      ).
%br
%p
  Важные отличия гитлаба от гиториуса:
%br
%ul
  %li то, что было репозиторием в гиториусе теперь называется проектом в гитлабе;
  %li то, что было проектом в гиториусе теперь называется группой проектов в гитлабе; 
  %li в списке проектов видны только те проекты, в которых ты участвуешь, а публичные проекты находятся на отдельной страничке;
  %li проекты по умолчанию доступны только владельцу;
  %li веб-хуки немного другого формата.
%br
%p
  В специальном чатике “INFR || gitlab || багрепортинг” можно оставить свои замечания и пожелания. В чатик можно попасть, перейдя по 
  = link_to "ссылке", "skype:?chat&blob=l5lSuvYSiiUL4031uYVHplQ6t20qzQ7uW2XMDLjVZGVGoQFQaD7GDgyiBDRZ6AQMmmTyBikUENGLfP6H5K3rsKzdug3odtgoFQI"
%br
%p
  %b P.S.
%p
  Если ты хочешь помочь с тестированием гитлаба до его запуска, то можешь поучаствовать, например, проделав на стейджинге гитлаба
  = link_to "http://gitlab-staging-01.undev.cc/", "http://gitlab-staging-01.undev.cc/"
  те действия, которые обычно делаешь в гиториусе; и вообще оставить отзыв о том, что нравится или не нравится. Для доступа на стейджинг нужно восстановить пароль перейдя по 
  = link_to 'ссылке', edit_password_url(@user, :reset_password_token => @user.reset_password_token)
  , если ты этого еще не сделал.
%p
  %b В период тестирования письма не будут приходить на почту.
