= image_tag avatar_icon(event.author.email, 24), class: "avatar s24", alt:''

.event-title
  %span.author_name= link_to_author event
  %span.event_label assign

  - if lookup_context.exists?("events/event/assigned/_#{event.source_type.underscore}")
    = render "events/event/assigned/#{event.source_type.underscore}", event: event
