.event-title
  %span.author_name= link_to_author event
  %span.event_label{class: event.action}= event_action_name(event)
  - if event.source
    %strong= link_to_gfm truncate(event.source.name), [event.source]
  - else
    %strong= gfm truncate(event.target.name)
  at
  - if event.target
    = link_to event.target
  - else
    = event.target
.event-body
  .event-note
    - if event.target.respond_to?(:title)
      = event.target.title
