= image_tag avatar_icon(event.author.email, 24), class: "avatar s24", alt:''

.event-title
  %span.author_name= link_to_author event
  %span.event_label{class: event.action}= event.action.gsub('_', ' ')
  = link_to_event_branch(event)
  at
  = link_to_event_target(event)
