= image_tag avatar_icon(event.author.email, 24), class: "avatar s24", alt:''

- project = event.target

.event-title
  %span.author_name= link_to_author event
  %span.event_label.pushed #{event.push_action_name} #{event.ref_type}
  - if event.rm_ref?
    %strong= event.ref_name
  - else
    = link_to project_commits_path(project, event.ref_name) do
      %strong= truncate(event.ref_name, length: 30)
  at
  = link_to_target project

- if event.push_with_commits?
  .event-body
    %ul.well-list.event_commits
      - few_commits = event.commits[0...2]
      - few_commits.each do |commit|
        = render "events/commit", commit: commit, project: project

      - if event.commits_count > 1
        %li.commits-stat
          - if event.commits_count > 2
            %span ... and #{event.commits_count - 2} more commits.
          = link_to project_compare_path(event.target, from: event.commit_from, to: event.commit_to) do
            %strong Compare &rarr; #{event.commit_from[0..7]}...#{event.commit_to[0..7]}
