= image_tag avatar_icon(event.author.email, 24), class: "avatar s24", alt:''

.event-title
  %span.author_name= link_to_author event
  - if lookup_context.exists?("events/event/updated/_#{event.source_type.underscore}")
    = render "events/event/updated/#{event.source_type.underscore}", event: event
  - else
    %span.event_label
      change
      = humanized_event_changes(event)
      settings
    at
    = link_to_event_target(event)
