- merge_request = source
- project       = target
- assignee      = merge_request.assignee || find_entity(User, data["assignee_id"])

= mailer_user_link(assignee)
was
%b
  %i
    assigned
= mailer_merge_request_link(merge_request)
to Merge Request in
= mailer_project_link(project)
project by
= mailer_user_link(author)

%br
%br
Branches: #{merge_request.source_branch} &rarr; #{merge_request.target_branch}
%br
Assignee: #{merge_request.assignee.present? ? merge_request.assignee_name : "-"}
