%h3.page_title
  Group: #{@group.name}

%br
%table.zebra-striped
  %thead
    %tr
      %th Group
      %th
  %tr
    %td
      %b
        Name:
    %td
      = @group.name
      &nbsp;
      = link_to edit_admin_group_path(@group), class: "btn btn-small pull-right" do
        %i.icon-edit
        Edit
  %tr
    %td
      %b
        Description:
    %td
      = @group.description
  %tr
    %td
      %b
        Path:
    %td
      %span.monospace= File.join(Gitlab.config.gitlab_shell.repos_path, @group.path)
  %tr
    %td
      %b
        Owner:
    %td
      = @group.owner_name
      .pull-right
        = link_to "#", class: "btn btn-small change-owner-link" do
          %i.icon-edit
          Change owner

  %tr.change-owner-holder.hide
    %td.bgred
      %b.cred
        New Owner:
    %td.bgred
      = form_for [:admin, @group] do |f|
        = f.select :owner_id, User.all.map { |user| [user.name, user.id] }, {}, {class: 'chosen'}
        %div
          = f.submit 'Change Owner', class: "btn btn-remove"
          = link_to "Cancel", "#", class: "btn change-owner-cancel-link"

%ul#group-relations.nav.nav-tabs
  %li= link_to("Projects (#{@group_projects.count})", "#projects-list", "data-toggle" => "tab")
  %li= link_to("Members (#{@members.count})", "#members-list", "data-toggle" => "tab")
  %li= link_to("Teams (#{@teams.count})", "#teams-list", "data-toggle" => "tab")
.tab-content
  = render "projects_list"
  = render "members_list"
  = render "teams_list"

:javascript
  $(function(){
    var modal = $('.change-owner-holder');
    $('.change-owner-link').bind("click", function(){
      $(this).hide();
      modal.show();
    });
    $('.change-owner-cancel-link').bind("click", function(){
      modal.hide();
      $('.change-owner-link').show();
    })

    $('#group-relations a:first').tab('show')
  })
