.tab-pane{ id: type.downcase }
  %table
    %tr
      %th= "#{type} name"
      %th Control
    - subscriptions.each do |subscription|
      - if subscription.target
        %tr
          %td= notification_entity_link(subscription.target)
          %td
            - if type.downcase.to_sym == :group
              - if subscription.with_adjacent_for?(current_user, :project)
                = link_to "Projects", notifications_subscription_path(entity: { id: subscription.target.id, type: subscription.target.class.name }, source: :project ), method: :delete, format: :json, class: "btn btn-small btn-remove"
              - else
                = link_to "Projects", notifications_subscription_path(entity: { id: subscription.target.id, type: subscription.target.class.name }, source: :project ), method: :post, format: :json, class: "btn btn-small btn-primary"

            = link_to "Unsubscribe", notifications_subscription_path(entity: { id: subscription.target.id, type: subscription.target.class.name } ), method: :delete, format: :json, class: "btn btn-small btn-remove"
