.sb.span8
  - if @subscriptions.any?
    %ul#subscriptionsTabs.nav.nav-tabs
      = render 'subscription_head', subscriptions: @subscriptions.keys
    .tab-content
      - @subscriptions.each do |type, subscriptions|
        = render 'subscription_group', type: type, subscriptions: subscriptions

.span3
  %fieldset.tips
    %legend Global subscriptions
    - if @user.admin?
      %table
        %tr
          %th Name
          %th Control
          - @available_subscription_types.each do |st|
            %tr
              %td= st.to_s.camelize
              %td
                .btn-group
                  = link_to notifications_subscription_path( category: st.to_s ), method: @subscriptions_by_target_type.has_key?(st.to_s) ? :delete : :post, class: "new_items btn btn-small" do
                    New
                    %i{class: @subscriptions_by_target_type.has_key?(st.to_s) ? "icon-star" : "icon-star-empty"}
                  .btn.btn-small.btn-primary All
                  = link_to "#", class: "btn btn-small btn-primary dropdown-toggle", "data-toggle" => "dropdown" do
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = link_to on_all_notifications_subscription_path(category: st), method: :post do
                        %i.icon-star
                        Subscribe
                      - if @subscriptions[st.to_s.camelize].present?
                        = link_to from_all_notifications_subscription_path(category: st), method: :delete do
                          %i.icon-star-empty
                          Unsubscribe
    - if @notification_setting.brave
      = link_to "Send me a minimum of notifications", from_brave_notifications_subscription_path, method: :delete, class: "btn btn-remove"
    - else
      = link_to "Send me all available notification", on_brave_notifications_subscription_path, method: :post, class: "btn btn-primary"
    %br
    %br

    - if @notification_setting.own_changes
      = link_to "Not notify me about changes I make", from_own_changes_notifications_subscription_path, method: :delete, class: "btn btn-remove"
    - else
      = link_to "Notify me about changes I make", on_own_changes_notifications_subscription_path, method: :post, class: "btn btn-primary"

    - if @notification_setting.subscribe_if_owner
      = link_to "Do not sign on my projects that I create", from_owner_ubscription_notifications_subscription_path, method: :delete, class: "btn btn-remove"
    - else
      = link_to "Automatically sign me in projects that I create", on_owner_subscription_notifications_subscription_path, method: :post, class: "btn btn-primary"

    %br
    %br
    - if @notification_setting.adjacent_changes
      = link_to "Not notify me about all adjacent changes", from_adjacent_changes_notifications_subscription_path, method: :delete, class: "btn btn-remove"
    - else
      = link_to "Notify me about all adjacent changes", on_adjacent_changes_notifications_subscription_path, method: :post, class: "btn btn-primary"
