.sb{class: @user.admin? ? :span8 : :span12 }
  - if @subscriptions.any?
    %ul#subscriptionsTabs.nav.nav-tabs
      = render 'subscription_head', subscriptions: @subscriptions.keys
    .tab-content
      - @subscriptions.each do |type, subscriptions|
        = render 'subscription_group', type: type, subscriptions: subscriptions

- if @user.admin?
  .span3
    %fieldset.tips
      %legend Global subscriptions
      %table
        %tr
          %th Name
          %th Control
          - @available_subscription_types.each do |st|
            %tr
              %td= st.to_s.camelize
              %td
                .btn-group
                  = link_to notifications_subscription_path( category: st.to_s ), method: @subscriptions_by_target_type.has_key?(st.to_s) ? :delete : :post, class: "new_items btn btn-small" do
                    New
                    %i{class: @subscriptions_by_target_type.has_key?(st.to_s) ? "icon-star" : "icon-star-empty"}
                  .btn.btn-small.btn-primary All
                  = link_to "#", class: "btn btn-small btn-primary dropdown-toggle", "data-toggle" => "dropdown" do
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = link_to on_all_notifications_subscription_path(category: st), method: :post do
                        %i.icon-star
                        Subscribe
                      - if @subscriptions[st.to_s.camelize].present?
                        = link_to from_all_notifications_subscription_path(category: st), method: :delete do
                          %i.icon-star-empty
                          Unsubscribe
