%li
  = link_to project, id: "project-#{project.namespace.path}-#{project.path}" do
    %strong.term= highlighted_project(result, project)
  - if result.description.present?
    &ndash;
    %span.light.term= project.description
