.row
  .col-md-3
    .admin-filter
      = form_tag admin_teams_path, method: :get, class: '' do
        .form-group
          = label_tag :name, 'Name:'
          = text_field_tag :name, params[:name], class: "form-control"

        .form-group
          = label_tag :owner_id, 'Owner:'
          %div
            = users_select_tag :owner_id, selected: params[:owner_id], class: 'input-large input-clamp'
        .form-group
          = label_tag :member_id, 'With user:'
          %div
            = users_select_tag :member_id, selected: params[:member_id], class: 'input-large input-clamp'

        .form-group
          = label_tag :group_id, 'Assigned on group:'
          %div
            = groups_select_tag :group_id, selected: params[:group_id], class: 'input-large input-clamp'

        .form-group
          = label_tag :project_id, 'Assigned on project:'
          %div
            = projects_select_tag :project_id, selected: params[:project_id], class: 'input-large input-clamp'

        .form-actions
          = submit_tag "Search", class: "btn submit btn-primary"
          = link_to "Reset", admin_projects_path, class: "btn"


  .col-md-9
    .ui-box
      .title
        Teams (#{@teams.count})
        .pull-right
          = link_to 'New Team', new_team_path, class: "btn btn-new"
      %ul.well-list
        - @teams.each do |team|
          %li
            .team-info
              .pull-right
                = link_to team_members_path(team), id: "team_members_#{dom_id(team)}", class: "btn btn-small", title: "Team members" do
                  %i.icon-group
                %nbsp

                = link_to team_groups_path(team), id: "team_groups_#{dom_id(team)}", class: "btn btn-small", title: "Team groups" do
                  %i.icon-folder-open
                %nbsp

                = link_to team_projects_path(team), id: "team_groups_#{dom_id(team)}", class: "btn btn-small", title: "Team projects" do
                  %i.icon-inbox
                %nbsp

                = link_to edit_team_path(team), id: "edit_#{dom_id(team)}", class: "btn btn-small", title: "Edit team" do
                  %i.icon-edit
                %nbsp
                = link_to [:admin, team], confirm: remove_team_message(team), method: :delete, class: "btn btn-small btn-remove" do
                  %i.icon-trash
            = link_to team_path(team), class: dom_class(team) do
              %span
                - if team.public
                  = public_icon
                - else
                  = private_icon
              %strong= team.name
              %p= truncate team.description, length: 100
        - if @teams.blank?
          %li
            %h3.nothing_here_message There are no teams here.
    .bottom
      = paginate @teams, theme: "gitlab"
