- if @summary.errors.any?
  #error_explanation
    %ul.unstyled.alert.alert-danger
      - @summary.errors.full_messages.each do |msg|
        %li= msg

.form-group
  = f.label :title, class: 'control-label'
  .col-sm-10
    = f.text_field :title, required: true, class: 'form-control'
    %span.help-inline * required
- if @summary.persisted?
  .form-group
    = f.label :description, class: 'control-label'
    .col-sm-10
      = f.text_field :description, class: 'form-control'

  .form-group
    = f.label :summary_diff, class: 'control-label'
    .col-sm-10
      = f.check_box :summary_diff, class: 'form-control'
      %span.help-inline
        Send summary commit log and summary diff for pushes
.form-group
  = f.label :period, class: 'control-label'
  .col-sm-10
    = f.select :period, (Event::Summary.period.values).map { |period| [period.camelize, period] }, { include_blank: "Select period" }, { class: 'form-control' }
    %span.help-inline * required
.form-group
  = f.label :state_event, "State", class: 'control-label'
  .col-sm-10
    = f.select(:state_event, @summary.state_transitions.map { |s| [s.human_event, s.event] }, { include_blank: @summary.human_state_name }, { class: 'form-control' })
    %span.help-inline * required
.form-actions
  = f.submit 'Save', class: 'btn btn-save'
  = link_to "Cancel", :back, class: 'btn'
