.col-md-4.no_padding
  .panel.panel-default
    .panel-heading
      .title
        %strong Daily digests
        (#{ @summaries.daily.count })
    .panel-body
      %ul.well-list
        - @summaries.daily.find_each do |summary|
          %li{id: "daily-summary-#{summary.id}"}
            = render 'summary', summary: summary, period: 1.day

.col-md-4.no_padding
  .panel.panel-default
    .panel-heading
      .title
        %strong Weekly digests
        (#{ @summaries.weekly.count })
    .panel-body
      %ul.well-list
        - @summaries.weekly.find_each do |summary|
          %li{id: "weekly-summary-#{summary.id}"}
            = render 'summary', summary: summary, period: 1.week

.col-md-4.no_padding
  .panel.panel-default
    .panel-heading
      .title
        %strong Monthly digests
        (#{ @summaries.monthly.count })
    .panel-body
      %ul.well-list
        - @summaries.monthly.find_each do |summary|
          %li{id: "monthly-summary-#{summary.id}"}
            = render 'summary', summary: summary, period: 1.month
